body
{
background-color: black;
}
h1,h4,p
{
color: white;
}
button
{
background-color: white;
color: black
}
.nav
{
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
}
.nav a 
{
float: right;
color: white;
text-align: center;
padding: 14px 30px;
text-decoration: none;
font-size: 17px;
}
